## Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
bun.lockb

# Environment
.env
*.env

# Logs
logs/
*.log

# Build
dist/
build/

# Mac
.DS_Store

# Editor
.vscode/

# Ignore nested node_modules
/prof-rate-backend/node_modules/
/prof-rate-frontend/**/node_modules/

# backup of nested .git when converting to monorepo
**/.git.backup
